@font-face {
  font-family: 'texgyreadventor';
  src: url('../assets/fonts/TeX-Gyre-Adventor/texgyreadventor-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreadventor';
  src: url('../assets/fonts/TeX-Gyre-Adventor/texgyreadventor-bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreadventor';
  src: url('../assets/fonts/TeX-Gyre-Adventor/texgyreadventor-bolditalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'texgyreadventor';
  src: url('../assets/fonts/TeX-Gyre-Adventor/texgyreadventor-italic.otf');
  font-weight: normal;
  font-style: italic;
}
