@import '../styles/variables';
@import '../styles/mixins';

.bar-container {
  display: inline-block;
  width: 2rem;
  margin: 0 1rem;
  position: relative;
  height: 100%;

  .bar {
    background-color: $nl-gold;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 1.5rem;
    transition: max-height 200ms ease-in-out;
    text-align: center;

    @include box-depth(1);

    &.per-0 {
      max-height: calc(0% - 2rem);
      transition: max-height 200ms ease-in-out;
    }

    @for $i from 1 through 20 {
      $percent: 100 * $i /20;
      &.per-#{$percent} {
        max-height: calc(#{$percent}% - 2rem);
        transition: max-height 200ms ease-in-out;
      }
    }

    .votes-count {
      font-weight: bold;
      color: white;
    }
  }

  .bar-title {
    position: absolute;
    bottom: 0;
    transform: translateX(-20%);
    font-weight: bold;
  }
}
