@import '../styles/variables';

.create-vote-form {
	text-align:center;
}
.create-vote-form label {
	font-size:20px;
}
.create-vote-form input {
	width: calc(100% - 60px);
	font-size:1.2em;
}

.create-vote-button-wrapper {
	width:100%;
}